// Fonts
$font-path: "../fonts";
$primary-font: 'Raleway', sans-serif;
// $secondary-font: 'Copycat', sans-serif;
// $ternary-font: 'LapsusPro Bold', sans-serif;

// Color
// $body-text: #191717;
// $base-color: #b0060f;
// $secondary-color: #ddb429;
// $light-green-color: #aacb23;
// $maroon-color: #ba3030;
// $light-grey-color: #717779;
$primary-color:#323A45;
$white-text:#fff;
$base-color:#0094d0;
$body-text:#333;
$light-grey-color:#ccc;
$blue-transparent-color:rgba(66, 139, 202, 0.75);
$nav-background:#19222d;
$border-color:#425166;
$accordian-head-color:rgba(0,0,0,.03);
$accordian-border:rgba(0,0,0,.125);

// Background Color

// Border Color
// $dark-border: #707070;
// $light-border: #d3d3d3;
